<div class="modal fade" id="anita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Anita Arevalo Noriega.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">

        <div class="clearfix">
          <img src="/assets/img/anita_arevalo.png" class="col-md-6 float-md-end mb-3 ms-md-3 img-fluid" alt="..." style="max-width: 300px;">
          <p class="fs-4">Estudié psicología en la Universidad Diego Portales, comenzado mi labor profesional el año 2008 y luego un Magíster en intervención temprana en salud mental infantil en la Universidad del Desarrollo, especializándose en primera infancia.</p>
          <p class="fs-4">Desde mis inicios realizo atención clínica infantil, he trabajado en colegios y en docencia pudiendo complementar mi quehacer profesional desde distintas áreas y experiencias. Actualmente me desarrollo como terapeuta infantil y familiar.</p>
          <p class="fs-4">Durante estos dos años de pandemia he visto las distintas necesidades emocionales que se han evidenciado en los niños/as, el impacto que ha tenido en el desarrollo de habilidades sociales y autoestima. Es por esto que en el último año he aumentado el trabajo grupal con niños/as con el fin de acompañarlos en su crecimiento personal y desarrollo emocional en un espacio protegido, seguro y amoroso. Me gusta ofrecerles un espacio social donde puedan poner en práctica sus recursos y co –construir sus habilidades con y de otros.</p>
          <p class="fs-4">Soy madre de 2 hijos y en mi experiencia personal he podido vivenciar cómo favorece el acompañamiento de otros en el camino de la crianza, tanto a los niños/as como a los padres, pudiendo compartir miradas y creando una contención grupal.</p>
          <p class="fs-4">Es por esto que he intencionado el trabajo con la familia. Considero que los padres/madres nos hemos visto desafiados en distintas esferas y la crianza no ha estado exenta. Nosotros como adultos necesitamos ajustar nuestras estrategias de resolución y acompañamiento a estas nuevas generaciones de niños/as, siendo llamados colaborar con el cambio de ellos/as y la permanencia de éstas en el tiempo. Promuevo que las dificultades puedan ser vistas como oportunidades de cambio y trabajo en equipo.</p>
          <p class="fs-4">Es en esta experiencia personal es que surge PuertoEducar en mi vida, como una oportunidad de entregar acompañamiento y mejorar la calidad de vida de las familias</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
