<header id="carouselExampleCaptions" class="masthead text-center text-white carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active pt-5">
      <div class="container pt-5">
        <img src="/assets/img/{{ page.image }}" alt="" class="img-fluid">
        <h2 class="masthead-subheading mb-0">{{ page.subtitle }}</h2>
      </div>
    </div>

    <div class="carousel-item pt-5">
      <div class="container pt-5">
        <img src="/assets/img/navegando_juntos.png" alt="" class="img-fluid rounded" style="max-height: 380px">
        <h2 class="mb-0 pt-4 fs-1">!Recupérate de la pandemia con nuestros talleres¡</h2>
      </div>
    </div>

    <div class="carousel-item">
      <img src="/assets/img/avión.png" class="img-fluid rounded" alt="...">
        <h2>Adelántante a Marzo</h2>
        <p>Todos nuestros talleres con descuento antes del 15 de marzo</p>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</header>

<div  class="" >
  <div class="">
     
  </div>
</div>