<div class="modal fade" id="ignacia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">María Ignacia Bilbao Cortés.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">

        <div class="clearfix">
          <img src="/assets/img/ignacia_bilbao.jpeg" class="col-md-6 float-md-end mb-3 ms-md-3 img-fluid" alt="..." style="max-width: 300px;">
          <p class="fs-4">Estudié psicopedagogía  en la Universidad Andrés Bello, comenzado mi labor profesional el año 2006 y luego un Magíster en intervención psicológica en contextos educativos de la Universidad Complutense de Madrid.</p>
          <p class="fs-4">Desde mis inicios realizo atención personalizada y dedicada al uno a uno a intervenir los procesos de aprendizaje de niños y niñas en edad escolar, he trabajado en colegios pudiendo nutrir mi quehacer profesional desde distintas áreas y experiencias contribuyendo con una mirada integrada de la persona.</p>
          <p class="fs-4">Durante estos dos años de pandemia he visto las distintas necesidades que se han evidenciado en los niños y niñas, sobre todo en cuanto al impacto en el desarrollo de habilidades aprendizaje y hábitos de estudio. He visto como ha disminuido la autonomía en los niños, y como las familias han visto dificultades en el acompañamiento del aprendizaje de los niños y niñas. Es por esto que en el último año he aumentado el trabajo grupal con niños/as con el fin de acompañarlos y apoyarlos a través del aprendizaje cooperativo y el acompañamiento con sus pares, fortalecer sus habilidades de aprendizaje.</p>
          <p class="fs-4">Como psicopedagoga,y madre de 2 niñas, he visto las dificultades con las que nos enfrentamos día a día en la crianza, y la necesidad que existe de entregarle herramientas efectivas a los padres y a los niños, que les permitan mejorar su calidad de vida.</p>
          <p class="fs-4">Creo también que la dupla de psicoeducación externa, permite dar una mirada completa del panorama escolar, pudiendo abordar una mayor cantidad de ámbitos y problemas de aprendizaje.</p>
          <p class="fs-4">Es en esta experiencia personal que surge PuertoEducar en mi vida, como una oportunidad de entregar acompañamiento y mejorar la calidad de vida de los niños y niñas y sus familias.</p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
