<nav class="navbar navbar-expand-lg navbar-light text-white navbar-custom bg-white fixed-top">
  <div class="container px-5">
    <img src="/assets/img/logo.png" alt="" width="40" height="40">
      <a class="navbar-brand ps-2" href="/">PUERTO EDUCAR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="/talleres.html">Talleres</a></li>
              <li class="nav-item"><a class="nav-link" href="/nosotras.html">Nosotras</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Contacto</a></li>
          </ul>
      </div>
  </div>
</nav>