<div class="modal" tabindex="-1">
  <div class="modal-dialog min-50-vw">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="ri-alarm-warning-fill"></i>
          Alerta mundial
          <i class="ri-alarm-warning-fill"></i>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3 alarm text-justify">
            <p>
              Un súper virus llegado en un meteorito está afectando a miles de millones
              de personas en todos los rincones del planeta, afectando la producción de insumos básicos necesarios
              generando la peor crisis humanitaria de la historia.
            </p>
            <p>
              Varios sistemas han quedado desactualizados y no sirven para que llevar las ayudas a los más necesitados.
              Necesitamos más superhéroes que ayuden a actualizar los sistemas para responder ahora !ya¡ a la catástrofe.
            </p>
          </div>
          <div class="mb-3">
          </div>          
          <div class="form-floating mt-3">
          </div>
      </div>
        <div class="modal-footer">
          <a href="" class="btn btn-danger" data-bs-dismiss="modal">¡Save the planet!</a>
        </div>
    </div>
  </div>
</div>
