<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-2" id="exampleModalLabel">Taller Autoestima: <bold>Enciende tu faro interior</bold></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-4">
        <div class="container">
          <div class="row pb-3">
            <div class="col-sm-6">
              <img src="/assets/img/faro_uno.png" class="img-fluid mx-auto d-block" alt="..." style="max-height: 250px;">
            </div>
            <div class="col-sm-6">
              <p class="fs-4">El desarrollo del <strong>autoestima </strong>favorece el bienestar emocional, la seguridad en sí mismo y colabora en un desarrollo pleno de l aidentidad de la persona.</p>
              <p class="fs-4">En este taller los niños/as podrán valorarse y ser reconocidos y desatacar las cualidades de otros.</p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-sm-6">
              <h5 class="fs-4 text-center fw-bold">¿A quiénes está dirigido?</h5>
              <h6 class="fs-4">A niños y niñas que:</h6>
              <p class="fs-5">Se sientan inseguros en sus interacciones a través de conductas inhibitorias o bien con expresiones de superioridad o agresividad.</p>
              <p class="fs-5">Les cuesta observar y valorar sus cualidades.</p>
              <p class="fs-5">Se sienten responsables por los errores de otros/as.</p>
              <p class="fs-5">Les cuesta decir no, ceden frente a la presión social.</p>
              <p class="fs-5">Les cuesta expresar su opinión.</p>
              <p class="fs-5">Tienen dificultad para expresar límites.</p>
              <p class="fs-5">Son excesivamente empáticos y se restan de dar su opinión por herir a otros.</p>  
            </div>
            <div class="col-sm-6">
              <h5 class="fs-4 text-center fw-bold">¿Qué aprenderán en este taller?</h5>
              <p class="fs-5">Se trabajará el conocimiento de uno mismo reconociendo sus fortalezas y cualidades (desde dentro hacia afuera).</p>
              <p class="fs-5">Regular sus emociones favoreciendo el bienestar psicológico y la imagen positiva de sí mismo.</p>    
              <p class="fs-5">Aumentar la capacidad de anticipar y hacer para hacer frente a situaciones de estrés. Así podrán aumentar su motivación por participar en distintas instancias.</p>    
              <p class="fs-5">Favorecer el aprendizaje en un clima positivo, identificando e integrando espacios menos positivos.</p>    
              <p class="fs-5">Reducir y proteger frente al estrés, ansiedad y la depresión.</p>
              <p class="fs-5">Mejorar la capacidad de influencia y liderazgo.</p>
              <p class="fst-italic fs-5">Experiencias de interacción guiada de manera amorosa colabora en el reconocimiento de sus fortalezas para así experienciar interacciones positivas que aumenten su confianza y su bienestar emocional.</p>
            </div>
          </div>
          <!-- Los niños/as que asistan a este taller vivirán experiencias de interacción guiada de manera amorosa ayudándolos a reconocer sus fortalezas. Nos enfocaremos en practicar nuevas maneras de enfrentar momentos que los saquen de su zona de confort en contexto seguro y de confianza, para así experienciar interacciones positivas que aumenten su confianza. -->
        </div>
      <div class="container">
        <h5 class="fs-4 text-center fw-bold">Valores y horarios</h5>
        <table class="table">
        <thead>
          <tr>
             <th scope="col">Día</th>
            <th scope="col">Horario</th>
            <th scope="col">Edades</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Martes</td>
            <td>17:30</td>
            <td>8 a 12 años</td>
            <td><a href="#" class="btn btn-success me-auto" data-bs-dismiss="modal">Comprar</a></td>
          </tr>
          <tr>
            <td>Jueves</td>
            <td>16:00</td>
            <td>4 a 7 años</td>
            <td><a href="#" class="btn btn-success me-auto" data-bs-dismiss="modal">Comprar</a></td>
          </tr>
        </tbody>
        </table>
        <p class="fs-4">Valor: $300.000.-</p>
        <p class="fs-4">$400.000.- Después 15 de marzo</p>
        <p class="fs-4">Reserva tu cupo con $50.000.- ¡Contáctanos!</p>
      </div>
    </div>
      <div class="d-flex modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>