<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-2" id="exampleModalLabel">Hábito de estudio: <bold>Encontrando tu foco</bold></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-4">
        <div class="container">
          <div class="row pb-3">
            <div class="col-sm-6">
              <img src="/assets/img/foco.png" class="card-img-top" alt="...">
            </div>
            <div class="col-sm-6">
              <p class="fs-4">Los hábitos de estudio son el primer paso para activar y desarrollar la capacidad de aprender de los alumnos. Son importantes, porque promueven el desarrollo de capacidades lingüísticas y cognitivas tales como atención y memoria, fundamentales para el aprendizaje. A través de los hábitos de estudio, se trabaja la constancia, la perseverancia y la disciplina.</p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-sm-6">
              <h5 class="fs-4 text-center fw-bold">¿A quiénes está dirigido?</h5>
              <h6 class="fs-4">A niños, niñas y familias que:</h6>
              <p class="fs-5">No cuenten con un sistema de estudio que puedan realizar de manera autónoma y efectiva.</p>
              <p class="fs-5">Necesiten conocer estrategias, para poder aprender de una manera más efectiva.</p>
              <p class="fs-5">Les gustaría implementar un sistema de hábitos y estudio en  sus hijos/as, que les permita tener un sistema efectivo de aprendizaje, con estrategias concretas para sus hijos/as.</p> 
            </div>
            <div class="col-sm-6">
              <h5 class="fs-4 text-center fw-bold">¿Qué aprenderán en este taller?</h5>
              <p class="fs-5">Implementar hábito de estudio a través de una rutina acorde a las necesidades de tu hij@.</p>
              <p class="fs-5">Implementar la utilización de  herramientas de aprendizaje y estudio como mapas conceptuales y resúmenes.</p>    
              <p class="fs-5">Establecer un sistema  de estudio acorde a las necesidades familiares, con participación de todos los integrantes.</p>
            </div>
          </div>
          <!-- Los niños/as que asistan a este taller vivirán experiencias de interacción guiada de manera amorosa ayudándolos a reconocer sus fortalezas. Nos enfocaremos en practicar nuevas maneras de enfrentar momentos que los saquen de su zona de confort en contexto seguro y de confianza, para así experienciar interacciones positivas que aumenten su confianza. -->
        </div>
        <div class="container">
          <h5 class="fs-4 text-center fw-bold">Valores y horarios</h5>
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Día</th>
            <th scope="col">Horario</th>
            <th scope="col">Edades</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lunes</td>
            <td>17:30</td>
            <td>7 a 10 años</td>
            <td><a href="#" class="btn btn-success me-auto" data-bs-dismiss="modal">Comprar</a></td>
          </tr>
          <tr>
            <td>Martes</td>
            <td>18:30</td>
            <td>11 a 14 años</td>
            <td><a href="#" class="btn btn-success me-auto" data-bs-dismiss="modal">Comprar</a></td>
          </tr>
        </tbody>
        </table>
        <p class="fs-4">Valor: $300.000.-</p>
        <p class="fs-4">$400.000.- Después 15 de marzo</p>
        <p class="fs-4">Reserva tu cupo con $50.000.- ¡Contáctanos!</p>
        </div>
      </div>
      <div class="d-flex modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
