<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-2" id="exampleModalLabel">Habilidades sociales: <strong>Navegando juntos</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row pb-3">
            <div class="col-sm-6">
              <img src="/assets/img/navegando_juntos.png" class="img-fluid mx-auto d-block" alt="..." style="max-height: 250px;">
            </div>
            <div class="col-sm-6">
              <p class="fs-4">El desarrollo de habilidades  <strong>personales e interpersonales básicas </strong>garantizan un buen nivel de adaptación, tanto en presente como en el futuro.</p>
              <p class="fs-4">En este taller los niños/as podrán desarrollar sus principales competencias a nivel social, emocional, académico y profesional.</p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-sm-6">
              <h5 class="fs-4 text-center fw-bold">¿A quiénes está dirigido?</h5>
              <h6 class="fs-4">A niños y niñas que:</h6>
              <p class="fs-5">No muestra interés por otros, ni intercambia información apropiadamente.</p>
              <p class="fs-5">No participa en los juegos.</p>
              <p class="fs-5">No saben cómo mantener una conversación fluida con personas que están fuera de nuestro círculo de confianza.</p>
              <p class="fs-5">Tienen relaciones conflictivas con sus familiares, amigos, profesores.</p>
              <p class="fs-5">Les cuesta expresar su opinión.</p>
              <p class="fs-5">Es fácilmente intimidado por niños/as violentos o agresivos.</p>
              <p class="fs-5">Tiene dificultades para tomar o respetar los turnos.</p>
              <p class="fs-5">No se atrevemos a hacer valer sus derechos y a decir no.</p>
              <p class="fs-5">Tienen dificultad para gestionar los conflictos: adoptan una actitud sumisa o pasan a una actitud agresiva.</p>
              <p class="fs-5">Se sienten solos, alejados o diferentes al resto.</p>
              <p class="fs-5">Trata de llamar la atención de forma poco apropiada.</p>    
            </div>
            <div class="col-sm-6">
              <h5 class="fs-4 text-center fw-bold">¿Qué aprenderán en este taller?</h5>
              <p class="fs-5">Se trabajará el conocimiento personal y la autorregulación emocional. capacidad para tomar conciencia de las propias emociones y destreza para hacer frente a situaciones de conflicto.</p>
              <p class="fs-5">Las principales habilidades de conversación,  escucha, dentificación de señales no verbales en la comunicación, habilidades para iniciar y mantener conversaciones, respetar los turnos de palabra entre otras.</p>    
              <p class="fs-5">Comunicación asertiva, decir “no”, expresar y recibir críticas,  negociar y a afrontar las reacciones de hostilidad de los demás</p>    
              <p class="fs-5">Solución de conflictos y pedir ayuda.</p>    
              <p class="fst-italic fs-5">Cuando mejoras tu capacidad para relacionarte con otros obtienes una respuesta positiva de tu entorno, aumentando tu autoestima y  seguridad a la hora de relacionarte. Es un círculo virtuoso que se retroalimenta, creando más satisfacción y equilibrio en tu vida.</p>
            </div>
          </div>
          <!-- <p class="fs-5">
            Los niños/as que asistan a este taller vivirán <strong> experiencias de interacción guiada</strong> de manera amorosa ayudándolos a buscar y practicar nuevas maneras de decir lo que sienten o piensen. Se trabajará la <strong>asertividad </strong>, identificando qué quiero decir y cómo lo voy a decir teniendo en cuenta el cómo podría afectar al otro lo que digo. Así comenzarán a reconocer sus límites y el de los demás. También trabajaremos la <strong>reparación</strong>, porque sabemos que están en crecimiento y consideramos que <strong>el error es una forma más de aprender.</strong>
          </p> -->
        </div>        
      <div class="container">
        <h5 class="fs-4 text-center fw-bold">Valores y horarios</h5>
        <table class="table">
        <thead>
          <tr>
             <th scope="col">Día</th>
            <th scope="col">Horario</th>
            <th scope="col">Edades</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Martes</td>
            <td>16:00</td>
            <td>4 a 7 años</td>
            <td><a href="#" class="btn btn-success me-auto" data-bs-dismiss="modal">Comprar</a></td>
          </tr>
          <tr>
            <td>Jueves</td>
            <td>17:30</td>
            <td>8 a 12 años</td>
            <td><a href="#" class="btn btn-success me-auto" data-bs-dismiss="modal">Comprar</a></td>
          </tr>
        </tbody>
        </table>
        <p class="fs-5">Valor: $350.000.-</p>
        <p class="fs-5">$400.000.- Después 15 de marzo</p>
      </div>
    </div>
      <div class="d-flex modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>