<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-2" id="exampleModalLabel">Potenciación de aprendizaje: <strong>Más allá del horizonte</strong></h5></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-4">
        <div class="container">
          <div class="row pb-3">
            <div class="col-sm-6 pb-3">
              <img src="/assets/img/horizonte.png" class="img-fluid mx-auto d-block" alt="..." style="max-height: 250px;">
            </div>
            <div class="col-sm-6">
              <p class="fs-5">La potenciación de aprendizajes pretende enseñar a pensar, con el objetivo de ayudar a los estudiantes a mejorar sus estrategias de aprendizaje y alcanzar su máximo potencial.</p>
              <p class="fs-5">Se fomentarán habilidades como la concentración atencional, el razonamiento lógico, estrategias de cálculo y resolución de problemas, y estrategias de aprendizaje, relacionadas con las tres áreas básicas: Matemáticas, Lenguaje y Conocimiento del medio.</p>
            </div>
          </div>
          <div class="row pb-3">
            <div class="col-sm-6">
              <h5 class="fs-4 text-center fw-bold">¿A quiénes está dirigido?</h5>
              <h6 class="fs-4">A niños y niñas que:</h6>
              <p class="fs-5">Han perdido la motivación por el aprendizaje.</p>
              <p class="fs-5">Necesiten mejorar estrategias, para poder aprender de una manera más efectiva.</p>
              <p class="fs-5">Presenten dificultades de aprendizaje y que requieran de un apoyo sistemático que les permita avanzar en sus dificultades.</p>    
            </div>
            <div class="col-sm-6">
              <h5 class="fs-4 text-center fw-bold">¿Qué aprenderán en este taller?</h5>
              <p class="fs-5">Manejar herramientas de? Cuáles? y aplicar estrategias de aprendizaje que les sean útiles y fáciles de recordar para… entre otras.</p>
              <p class="fs-5">Aumentarán su motivación por el aprendizaje porque al entender… comprender se sentirán más seguros?</p>    
              <p class="fs-5">Desarrollarán  y potenciarán habilidades de atención y concentración .</p>    
              <p class="fs-5">Solución de conflictos y pedir ayuda.</p>    
              <!--           
                Sabemos todo lo difícil que ha sido el tiempo en pandemia, y cómo ha afectado el aprendizaje de los  niños y niñas, familias que han modificado sus hábitos escolares y que saben, cómo su desarrollo  y capacidad de aprendizaje se ha visto interferida. 
                Nos interesa potenciar, y avanzar con los niños y niñas en su aprendizaje, estimulando de manera lúdica y entretenida, todas sus capacidades.  Lograr potenciar las habilidades de atención y concentración, sus funciones ejecutivas son partes fundamentales para favorecer la motivación por el aprendizaje.  -->
          </div>
          </div>
        </div>
          <div class="container">
            <table class="table">
        <thead>
          <tr>
             <th scope="col">Día</th>
            <th scope="col">Horario</th>
            <th scope="col">Edades</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lunes</td>
            <td>16:15</td>
            <td>7 a 10 años</td>
            <td><a href="#" class="btn btn-success me-auto" data-bs-dismiss="modal">Comprar</a></td>
          </tr>
          <tr>
            <td>Miércoles</td>
            <td>18:30</td>
            <td>11 a 14 años</td>
            <td><a href="#" class="btn btn-success me-auto" data-bs-dismiss="modal">Comprar</a></td>
          </tr>
        </tbody>
        </table>
        <p class="fs-4">Valor: $300.000.-</p>
        <p class="fs-4">$400.000.- Después 15 de marzo</p>
        <p class="fs-4">Reserva tu cupo con $50.000.- ¡Contáctanos!</p>
      </div>
    </div>
      <div class="d-flex modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
