---
layout: default
subtitle: Puerto Educar en el 2022
permalink: /equipo.html
image: sol_round.png
---
<div class="container">
  <h1 class="text-center fs-1 p-2">Contexto educativo 2022</h1>
  
  <p class="fs-4">Durante estos dos años de pandemia sabemos que los niños/as han estado con menor contacto de sus amigos/as, familia y
    compañeros/as y se han visto impactadas sus habilidades sociales y capacidad de gestionar su propio aprendizaje.</p>
    
    <p class="fs-4">Creemos que los niños/as de hoy necesitan participar de experiencias grupales que promuevan el reconocimiento del
      espacio social como un lugar seguro, valoren y re – adquieran herramientas de autogestión y trabajo en equipo junto con
      potenciar su autoestima para seguir enfrentando estos desafíos.</p>
      
      
      
      <h2 class="text-center">Equipo</h2>
      
      <h2>Fundadoras</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <img src="/assets/img/maetra_uno.png" class="card-img-top" alt="..." style="max-height: 490px;">
            <div class="card-body">
              <h5 class="card-title fw-bold">María Ignacia Bilbao Cortés.</h5>
              <p class="card-text">Psicopedagoga, magíster en intervención psicológica en contextos educativos con experiencia educativa en Madrid España y Santiago de Chile.</p>
              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ignacia">Detalles</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card">
              <img src="/assets/img/maetra_dos.png" class="card-img-top" alt="..." style="max-height: 490px;">
              <div class="card-body">
                <h5 class="card-title fw-bold">Anita Arevalo Noriega. </h5>
                <p class="card-text">Psicologa clinica, Magister en intervención temprana. Terapeuta infantil y familiar</p>
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#anita">Detalles</a>
              </div>
            </div>
          </div>
      </div>      
    </div>

    {% include ignacia.html %}
    {% include anita.html %}