---
layout: default
subtitle: Talleres terapéuticos
permalink: /talleres.html
image: avión.png
---

<div class="container pt-3">


  <h2 class="text-center fs-1">Talleres</h2>
<div class="text-center pb-3">
  <img  class="img-fluid rounded" src="/assets/img/terapias_niños_grupal.jpg" alt="" style="max-width: 350px;">
</div>

  <p class="fs-4">Puerto Educar realiza talleres terapéuticos con niños, niñas y sus familias, donde nuestro principal foco son los niños y niñas.</p>

  <p class="fs-4">Todos nuestros programas consideran <strong>sesiones presenciales y  sesiones (online) con las madres/padres/mapadres</strong>, con el fin de establecer acuerdos y  dar un reporte de avances.</p>

  <p class="fs-4">Nuestros talleres se realizan con un número pequeño de niños/as para así guiarlos y potenciar sus estrategias de asertividad, valoración de sí mismos y autogestión del aprendizaje.</p>

  <p class="fs-4">En nuestra experiencia hemos visto que para que los cambios se consoliden, es importante que su medio participe en la adquisición  y prácticas de nuevas herramientas, de esta manera se apunta a que el taller sea una guía en la búsqueda del bienestar familiar. </p>

  <div class="row row-cols-1 row-cols-md-2 g-4 p-4">
    <div class="col">
      <div class="card h-100">
       <img src="/assets/img/navegando_juntos.png" class="card-img-top" alt="">
       <div class="card-body">
         <h5 class="card-title fs-3">Habilidades sociales: <strong>Navegando juntos</strong></h5>
          <p class="card-text fs-4">En este taller vamos a profundizar en las estrategias para reconocer y potenciar las habilidades sociales de niños y adolescentes.</p>
           <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Saber más
           </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-70">
          <img src="/assets/img/faro_uno.png" class="card-img-top" alt="..." style="max-height: 380px;">
          <div class="card-body">
            <h5 class="card-title fs-3">Autoestima: <strong>Enciende tu faro interior</strong></h5>
            <p class="card-text fs-4">En este taller fortaleceremos la autoestima, el autoconcepto y la confianza en sí mismos.</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
              Ver más
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/assets/img/horizonte.png" class="card-img-top" alt="..." style="max-height: 380px;">
          <div class="card-body">
            <h5 class="card-title fs-3">Reforzamiento: <strong>Más allá del Horizonte</strong></h5>
            <p class="card-text fs-4">Implementar hábito de estudio a través de una rutina acorde a las necesidades de tu hij@. Favorecer la autonomía y la autogestión del tiempo. Establecer un sistema de estudio acorde a las necesidades familiares, con participación de todos los integrantes.</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
              Ver más
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/assets/img/foco.png" class="card-img-top" alt="..." style="max-height: 380px;">
          <div class="card-body">
            <h5 class="card-title fs-3">Hábito de estudio: <strong>Encontrando tu foco</strong></h5>
            <p class="card-text fs-4">En este taller los niños y sus familias podrán construir una nueva organización que se adapte a sus necesidades y que les entregue herramientas reales, ajustadas a sus posibilidades y que les den resultados.</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
              Ver más
            </button>
          </div>
        </div>
      </div>
    </div>
 
</div>

<!-- Modals -->

{% include workshop_01.html %}
{% include workshop_02.html %}
{% include workshop_03.html %}
{% include workshop_04.html %}





